.menuB{
  // display: none;
  opacity: 0;
  color: white;
  font-size: 3em;
  position:absolute; 
  cursor: pointer;
  top:5%; 
  left:5%; 
  z-index:399;
  -webkit-animation: fadeIn 2s ease-in forwards;  
     -moz-animation: fadeIn 2s ease-in forwards; 
       -o-animation: fadeIn 2s ease-in forwards; 
          animation: fadeIn 2s ease-in forwards; 
}
a.current_page{
  font-size: 3.2em;
  color: lighten(#00425a, 20%);
}
.menu_popup {
  position: absolute;
  background-color: black;
  z-index: 400;
  height: 100%;
  width: 30%;
  top: 0%;
  left: -30%;
  opacity: 1;
}
.header{
  color: white;
  font-size: 3em;
  width: 100%;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}
  @media all and (min-width: 31.25em) and (max-width: 42.5em) {
    .header {
      font-size: 1em;
      height: 2%;
      padding-top: 1%;
      padding-bottom: 1%; } }
  @media all and (min-width: 21.875em) and (max-width: 31.25em) {
    .header {
      font-size: 0.8em;
      height: 1%;
      padding-top: 0.5%;
      padding-bottom: 0.5%; } }

.menu_popup .row {
  color: white;
  font-size: 1.3em;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
  height: 5%;
  text-decoration: none;
  cursor: pointer;
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  .menu_popup .row {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 5%; 
  } 
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  .menu_popup .row {
    font-size: 1em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    height: 4.5%; 
  } 
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  .menu_popup .row {
    font-size: 0.8em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    height: 4%; 
  } 
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  .menu_popup .row {
    font-size: 0.6em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    height: 3%; 
  } 
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  .menu_popup .row {
    font-size: 0.5em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    height: 3.5%; 
  } 
}
.menu_popup .row a {
 font-size: 1.3em;
}
.menu_popup .row:hover a {
  color: #00425a;
}
.menu_popup .row:hover a:hover {
  text-decoration : none;
  color: $blue;

}