body{
	background: url("../images/new black.png");
	font-family: 'Titillium Web', sans-serif;
}
#title {
	color: white;
	font-size: 5em
}
.container{
	font-size: 1.5em;
	color: white;
	text-align: justify;
	text-align: center;
	.row{
		margin-bottom: 2%;
		button{
			margin-top: 0.5%;
			margin-bottom: 0.5%;
		}
	}
}