.container{
	position:fixed;
	display: table;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	background-color:black;
}


ul{
	list-style-type:none;
	display: block;
	margin:0;
	padding:0;
}


img{
	position:absolute;
	width:100%;
	ms-interpolatione-mode: nearest-neighbor;
	image-rendering: -moz-crisp-edges;
}

.layer{
	display: block;
	height:100%;
	width:100%;
		
}

.bg{
	top:0%;
	left:0%;
	width:100%;
	bottom: 90px;
	position:absolute;
	background:url(../parallax/images/background.jpg) no-repeat 50% 170%;
	background-size: cover;
}

.rope{
	position:relative;
	height:100%;
	width:120%;
	left:-5%;
}



.hanger-p1{
	position:absolute;
	top:13%;
	left:5%;
	
}

.cloud1{
	background:url(../parallax/images/board-cloud-1.png) no-repeat ;
	position:absolute;
	height:280px;
	width:280px;
}

.hanger-p2{
	position:absolute;
	left:38%;
	top:25%;
}

.cloud2{
	background: url(../parallax/images/board-cloud-2.png) no-repeat;
	height:280px;
	width:280px;
}

.hanger-p3{
	position:absolute;
	left:65%;
	top:20%;
}
.cloud3{
	background: url(../parallax/images/board-cloud-3.png) no-repeat;
	height:280px;
	width:280px;
	
}


.wave{
	position:absolute;
	height:320px;
	width:200%;
	

}

.wave.p1{
	background: url(../parallax/images/wave-plain.png) repeat-x;
	top:68%;
	left:-10%;
	background-size: 400px 200px;
}

.wave.p2{
	background: url(../parallax/images/wave-plain.png) repeat-x;
	top:76%;
	left:-25%;
	background-size: 450px 200px;
	
}

.wave.p3{
	background: url(../parallax/images/wave-plain.png) repeat-x;
	top:80%;
	left:-35%;
	background-size: 500px 250px;
		
}

.wave.p4{
	background: url(../parallax/images/wave-paint.png) repeat-x;
	top:83%;
	left:-19%;
	background-size: 600px 280px;
	

}

.wave.p5{
	background: url(../parallax/images/wave-plain.png) repeat-x;
	top:85%;
	left:-20%;
	background-size: 600px 280px;
	
}

.wave.p6{
	background: url(../parallax/images/wave-paint.png) repeat-x;
	top:90%;
	left:-28%;
	background-size: 600px 280px;
	
}


