/* line 1, ../sass/eventDetail.scss */
body {
  background: url("../img/bg.png");
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

/* line 6, ../sass/eventDetail.scss */
h1 {
  color: #008dc0;
}
