@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/7XUFZ5tgS-tD6QamInJTcdGU7DQ8I6RFMlK0vgclk7w.woff) format("woff"); }

@font-face {
  font-family: 'ecoicon';
  src: url("../fonts/ecoicons/ecoicon.svg#ecoicon") format("svg");
  font-weight: normal;
  font-style: normal; }

@-webkit-keyframes watermarkFadeIn {
  to {
    opacity: 0.4; } }

@-moz-keyframes watermarkFadeIn {
  to {
    opacity: 0.4; } }

@-o-keyframes watermarkFadeIn {
  to {
    opacity: 0.4; } }

@keyframes watermarkFadeIn {
  to {
    opacity: 0.4; } }

@-webkit-keyframes fadeIn {
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  to {
    opacity: 1; } }

@keyframes fadeIn {
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  to {
    opacity: 0; } }

@-moz-keyframes fadeIn {
  to {
    opacity: 0; } }

@-o-keyframes fadeIn {
  to {
    opacity: 0; } }

@keyframes fadeIn {
  to {
    opacity: 0; } }

@-webkit-keyframes cubeAnimate {
  10% {
    stroke-opacity: 1; }

  40% {
    stroke-dashoffset: 0; }

  60% {
    fill-opacity: 0;
    stroke-opacity: 1; }

  80% {
    fill-opacity: 0.5; }

  90% {
    stroke-dashoffset: 0;
    stroke-opacity: 0; }

  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 0;
    fill-opacity: 0; } }

@-moz-keyframes cubeAnimate {
  10% {
    stroke-opacity: 1; }

  40% {
    fill-opacity: 0; }

  80% {
    stroke-dashoffset: 0; }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-opacity: 0; } }

@-o-keyframes cubeAnimate {
  10% {
    stroke-opacity: 1; }

  40% {
    fill-opacity: 0; }

  80% {
    stroke-dashoffset: 0; }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-opacity: 0; } }

@keyframes cubeAnimate {
  10% {
    stroke-opacity: 1; }

  40% {
    fill-opacity: 0; }

  80% {
    stroke-dashoffset: 0; }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-opacity: 0; } }

.cl-effect a {
  color: white;
  background: transparent;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.cl-effect a::before {
  top: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px); }

.cl-effect a::after {
  bottom: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px); }

.cl-effect a:hover::before,
.cl-effect a:focus::before,
.cl-effect a:hover::after,
.cl-effect a:focus::after {
  opacity: 0;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

.cl-effect a {
  padding: 1%; }

@media all and (min-width: 62.5em) and (max-width: 75em) {
  .cl-effect a {
    padding: 1.1%; } }
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  .cl-effect a {
    padding: 1.3%; } }
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  .cl-effect a {
    padding: 1.5%; } }
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  .cl-effect a {
    padding: 1.9%; } }
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  .cl-effect a {
    padding: 2.5%; } }
div a {
  position: relative;
  display: inline-block;
  /*	margin: 15px 25px;   */
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1%;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.5em;
  /*  
      @media all and (min-width: pem(1024)){
          float: none;
      }
  */ }

@media all and (max-width: 37.5em) {
  div a {
    width: auto;
    letter-spacing: 0.02%;
    font-size: 0.7em;
    font-weight: 100;
    left-margin: 70%;
    float: left; } }
@media all and (max-height: 37.5em) {
  div a {
    width: auto;
    letter-spacing: 0.02%;
    font-size: 0.7em;
    font-weight: 100;
    top-margin: 0%;
    float: top; } }
@media all and (min-width: 62.5em) and (max-width: 75em) {
  div a {
    float: none;
    width: auto;
    letter-spacing: 0.04%;
    font-weight: 100;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.3em; } }
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  div a {
    float: left;
    width: auto;
    margin: 2% 2.5%;
    letter-spacing: 0.0035%;
    font-weight: 80;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.05em; } }
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  div a {
    width: auto;
    letter-spacing: 0.02%;
    font-weight: 100;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 0.9em; } }
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  div a {
    float: left;
    width: auto;
    margin: 0% 0.5%;
    letter-spacing: 0.01%;
    font-weight: 30;
    text-shadow: 0 0 0% rgba(255, 255, 255, 0.3);
    font-size: 0.7em; } }
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  div a {
    width: auto;
    height: auto;
    margin: 0% 0.5%;
    letter-spacing: 0.002%;
    font-weight: 20;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 0.6em; } }
.cl-effect a::before,
.cl-effect a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2%;
  background: #fff;
  content: '';
  opacity: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */ }

@media all and (min-width: 62.5em) and (max-width: 75em) {
  .cl-effect a::before,
  .cl-effect a::after {
    height: 3.75%; } }
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  .cl-effect a::before,
  .cl-effect a::after {
    height: 3.5%; } }
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  .cl-effect a::before,
  .cl-effect a::after {
    height: 2.75%; } }
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  .cl-effect a::before,
  .cl-effect a::after {
    height: 2.5%; } }
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  .cl-effect a::before,
  .cl-effect a::after {
    height: 2.25%; } }
.menuB {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 399;
  -webkit-animation: fadeIn 2s ease-in forwards;
  -moz-animation: fadeIn 2s ease-in forwards;
  -o-animation: fadeIn 2s ease-in forwards;
  animation: fadeIn 2s ease-in forwards; }

#menu_icon {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  z-index: 399;
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 1.5% 3%;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white; }

#menu_icon:hover {
  color: #00425a;
  font-size: 2px; }

#menu_icon:before {
  font-family: 'ecoicon';
  speak: none;
  font-size: 32px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\e006";
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

.menu_popup {
  position: absolute;
  background-color: black;
  z-index: 400;
  height: 100%;
  width: 30%;
  top: 0%;
  left: -30%;
  opacity: 1; }

.header {
  color: white;
  font-size: 3em;
  width: 100%;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 4%; }

@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  .header {
    font-size: 1em;
    height: 2%;
    padding-top: 1%;
    padding-bottom: 1%; } }
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  .header {
    font-size: 0.8em;
    height: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%; } }
.menu_popup .row {
  color: white;
  font-size: 1.3em;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
  height: 5%;
  text-decoration: none;
  cursor: pointer; }

@media all and (min-width: 62.5em) and (max-width: 75em) {
  .menu_popup .row {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 5%; } }
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  .menu_popup .row {
    font-size: 1em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    height: 4.5%; } }
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  .menu_popup .row {
    font-size: 0.8em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    height: 4%; } }
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  .menu_popup .row {
    font-size: 0.6em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    height: 3%; } }
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  .menu_popup .row {
    font-size: 0.5em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    height: 3.5%; } }
.menu_popup .row a {
  font-size: 1.3em; }

.menu_popup .row:hover a {
  color: #00425a; }

.menu_popup .row:hover a:hover {
  text-decoration: none;
  color: #00425a; }

@media all and (min-width: 62.5em) and (max-width: 75em) {
  #plane, #phone, #tools, #mike, #group, #rupee {
    height: 450px;
    width: 410px; } }
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  #plane, #phone, #tools, #mike, #group, #rupee {
    height: 360px;
    width: 328px; } }
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  #plane, #phone, #tools, #mike, #group, #rupee {
    height: 225px;
    width: 205px; } }
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  #plane, #phone, #tools, #mike, #group, #rupee {
    height: 135px;
    width: 123px; } }
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  #plane, #phone, #tools, #mike, #group, #rupee {
    height: 90px;
    width: 82px; } }
@media all and (max-width: 21.875em) {
  #plane, #phone, #tools, #mike, #group, #rupee {
    height: 45px;
    width: 41px; } }

#mainLogo {
  height: 250px;
  width: 400px; }
  #mainLogo svg {
    height: 250px;
    width: 400px; }

body {
  background-image: url("../img/bg.png");
  line-height: 1.42857;
  font-family: "Titillium Web"; }

#notice {
  color: white; }

#social_icons {
  position: absolute;
  right: 5%;
  bottom: 2%;
  color: white; }

#watermark div {
  opacity: 0;
  -webkit-animation: fadeIn 2s ease-in 10s forwards;
  -moz-animation: fadeIn 2s ease-in 10s forwards;
  -o-animation: fadeIn 2s ease-in 10s forwards;
  animation: fadeIn 2s ease-in 10s forwards; }

#mainLogo {
  opacity: 1; }
  #mainLogo #cubeDots {
    fill: white;
    fill-opacity: 1;
    stroke: white;
    stroke-width: 2px; }
  #mainLogo #cubeBorder {
    fill: #00425a;
    fill-opacity: 1;
    stroke: #00425a;
    stroke-width: 2px; }

#mainLogo image {
  position: absolute;
  z-index: 4;
  top: 33.4%;
  left: 33.8%;
  opacity: 0;
  -webkit-animation: fadeIn 2s ease-in 5s forwards;
  -moz-animation: fadeIn 2s ease-in 5s forwards;
  -o-animation: fadeIn 2s ease-in 5s forwards;
  animation: fadeIn 2s ease-in 5s forwards; }

#hexaMenu,
#social_icons {
  opacity: 0;
  -webkit-animation: fadeIn 3s ease-in 5s forwards;
  -moz-animation: fadeIn 3s ease-in 5s forwards;
  -o-animation: fadeIn 3s ease-in 5s forwards;
  animation: fadeIn 3s ease-in 5s forwards; }
