body{
	background-color: #333;
	// background: url("../img/lectures/all.jpg");
	color: white;
}
@-webkit-keyframes rt{	
	to{
		opacity: 1;
		-webkit-transform: rotateY(0deg);
	}
}
@-webkit-keyframes sc{	
	to{
		-webkit-transform: scale(1,1);
	}
}
#demo16{
	// display: none;
	$dur: 0.5s;
	$delay: 1s;
	position: fixed;
	#r1{
		img{
			height: inherit;
		}
		div:nth-child(3){
			position: relative;
			z-index: 4;
			background-color: #333;
			-webkit-transform: scale(3,1);
			-webkit-transform-origin: right center;
			-webkit-animation: animate_34 3*$dur linear $delay+$dur forwards;
		}
		div:nth-child(4){
			position: relative;
			z-index: 4;
			background-color: #555;			
			-webkit-transform: scale(3,1);
			-webkit-transform-origin: left center;
			-webkit-animation: animate_34 3*$dur linear $delay+$dur forwards;
		}
		div:nth-child(1),
		div:nth-child(6){
			background-color: #831;
		}
		div:nth-child(2),
		div:nth-child(5){
			background-color: #331;
		}
	}
	#r2{
		img{
			height: inherit;
		}
		div:nth-child(1),
		div:nth-child(4){
			background-color: #132;
		}
		div:nth-child(2){
			position: relative;
			z-index: 5;
			background-color: #491;
			-webkit-transform-origin: right center;
			-webkit-transform: scale(2,3);
			-webkit-animation: animate_23 3*$dur linear $delay forwards;
		}
		div:nth-child(3){
			position: relative;
			z-index: 5;
			background-color: #481;			
			-webkit-transform-origin: left center;
			-webkit-transform: scale(2,3);
			-webkit-animation: animate_23 3*$dur linear $delay forwards;						
		}
	}
	#r3{
		@extend #r1;
	}
}
@-webkit-keyframes animate_23{
	0%{
		-webkit-transform: scale(2,3);
	}
	33.33%{
		-webkit-transform: scale(2,1);
	}
	66.67%{
		-webkit-transform: scale(2,1);
	}
	100%{
		-webkit-transform: scale(1,1);
	}
}
@-webkit-keyframes animate_34{
	0%{
		-webkit-transform: scale(3,1);
	}
	33.33%{
		-webkit-transform: scale(2,1);
	}
	66.67%{
		-webkit-transform: scale(2,1);
	}
	100%{
		-webkit-transform: scale(1,1);
	}	
}
#overlay{
	position: relative;
	top: -685px;
	z-index: 10;
	color: red;
	.col-xs-2{
		border: 1px solid black;
	}
	.col-xs-4{
		border: 1px solid black;
	}
}