/* line 90, ../sass/lectures-animation.scss */
div.animated-speaker#ajit-balakrishnan {
  opacity: 0;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: flip_right 0.22222s ease-out 3.35238s forwards;
  -moz-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 50%;
  -moz-animation: flip_right 0.22222s ease-out 3.35238s forwards;
  -o-transform: rotateY(-90deg);
  -o-transform-origin: 100% 50%;
  -o-animation: flip_right 0.22222s ease-out 3.35238s forwards;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
  animation: flip_right 0.22222s ease-out 3.35238s forwards;
}

/* line 93, ../sass/lectures-animation.scss */
div.animated-speaker#archana-sharma {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: flip_bottom 0.28571s ease-out 3.06667s forwards;
  -moz-transform: rotateX(90deg);
  -moz-transform-origin: 50% 100%;
  -moz-animation: flip_bottom 0.28571s ease-out 3.06667s forwards;
  -o-transform: rotateX(90deg);
  -o-transform-origin: 50% 100%;
  -o-animation: flip_bottom 0.28571s ease-out 3.06667s forwards;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  animation: flip_bottom 0.28571s ease-out 3.06667s forwards;
}

/* line 96, ../sass/lectures-animation.scss */
div.animated-speaker#arogyaswami-paulraj {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: flip_bottom 2s ease-out 0s forwards;
  -moz-transform: rotateX(90deg);
  -moz-transform-origin: 50% 100%;
  -moz-animation: flip_bottom 2s ease-out 0s forwards;
  -o-transform: rotateX(90deg);
  -o-transform-origin: 50% 100%;
  -o-animation: flip_bottom 2s ease-out 0s forwards;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  animation: flip_bottom 2s ease-out 0s forwards;
}

/* line 99, ../sass/lectures-animation.scss */
div.animated-speaker#ela-bhatt {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: flip_left 0.66667s ease-out 2s forwards;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -moz-animation: flip_left 0.66667s ease-out 2s forwards;
  -o-transform: rotateY(90deg);
  -o-transform-origin: 0% 50%;
  -o-animation: flip_left 0.66667s ease-out 2s forwards;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  animation: flip_left 0.66667s ease-out 2s forwards;
}

/* line 102, ../sass/lectures-animation.scss */
div.animated-speaker#gurtej-sindhu {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: flip_bottom 0.15385s ease-out 3.75642s forwards;
  -moz-transform: rotateX(90deg);
  -moz-transform-origin: 50% 100%;
  -moz-animation: flip_bottom 0.15385s ease-out 3.75642s forwards;
  -o-transform: rotateX(90deg);
  -o-transform-origin: 50% 100%;
  -o-animation: flip_bottom 0.15385s ease-out 3.75642s forwards;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  animation: flip_bottom 0.15385s ease-out 3.75642s forwards;
}

/* line 105, ../sass/lectures-animation.scss */
div.animated-speaker#partha-mitra {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.18182s ease-out 3.5746s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.18182s ease-out 3.5746s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.18182s ease-out 3.5746s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.18182s ease-out 3.5746s forwards;
}

/* line 108, ../sass/lectures-animation.scss */
div.animated-speaker#pawan-sinha {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: flip_bottom 0.4s ease-out 2.66667s forwards;
  -moz-transform: rotateX(90deg);
  -moz-transform-origin: 50% 100%;
  -moz-animation: flip_bottom 0.4s ease-out 2.66667s forwards;
  -o-transform: rotateX(90deg);
  -o-transform-origin: 50% 100%;
  -o-animation: flip_bottom 0.4s ease-out 2.66667s forwards;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  animation: flip_bottom 0.4s ease-out 2.66667s forwards;
}

/* line 111, ../sass/lectures-animation.scss */
div.animated-speaker#rajeeva-karandikar {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.4s ease-out 2.66667s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.4s ease-out 2.66667s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.4s ease-out 2.66667s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.4s ease-out 2.66667s forwards;
}

/* line 114, ../sass/lectures-animation.scss */
div.animated-speaker#ravi-venkatesan {
  opacity: 0;
  -webkit-transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: flip_bottom 0.18182s ease-out 3.5746s forwards;
  -moz-transform: rotateX(90deg);
  -moz-transform-origin: 50% 100%;
  -moz-animation: flip_bottom 0.18182s ease-out 3.5746s forwards;
  -o-transform: rotateX(90deg);
  -o-transform-origin: 50% 100%;
  -o-animation: flip_bottom 0.18182s ease-out 3.5746s forwards;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  animation: flip_bottom 0.18182s ease-out 3.5746s forwards;
}

/* line 117, ../sass/lectures-animation.scss */
div.animated-speaker#stephen-wolfram {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.15385s ease-out 3.75642s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.15385s ease-out 3.75642s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.15385s ease-out 3.75642s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.15385s ease-out 3.75642s forwards;
}

/* line 120, ../sass/lectures-animation.scss */
div.animated-speaker#sunil-kumar {
  opacity: 0;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: flip_right 0.66667s ease-out 2s forwards;
  -moz-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 50%;
  -moz-animation: flip_right 0.66667s ease-out 2s forwards;
  -o-transform: rotateY(-90deg);
  -o-transform-origin: 100% 50%;
  -o-animation: flip_right 0.66667s ease-out 2s forwards;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
  animation: flip_right 0.66667s ease-out 2s forwards;
}

/* line 123, ../sass/lectures-animation.scss */
div.animated-speaker#vanitha-narayanan {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 2s ease-out 0s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 2s ease-out 0s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 2s ease-out 0s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 2s ease-out 0s forwards;
}

/* line 126, ../sass/lectures-animation.scss */
div.animated-speaker#vijay-govindrajan {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.28571s ease-out 3.06667s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.28571s ease-out 3.06667s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.28571s ease-out 3.06667s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.28571s ease-out 3.06667s forwards;
}

/* line 129, ../sass/lectures-animation.scss */
div.animated-speaker#vinita-bali {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: flip_left 0.22222s ease-out 3.35238s forwards;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -moz-animation: flip_left 0.22222s ease-out 3.35238s forwards;
  -o-transform: rotateY(90deg);
  -o-transform-origin: 0% 50%;
  -o-animation: flip_left 0.22222s ease-out 3.35238s forwards;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  animation: flip_left 0.22222s ease-out 3.35238s forwards;
}

/* line 133, ../sass/lectures-animation.scss */
div.unanimated-speaker#ajit-balakrishnan {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: flip_left 2s ease-out 0s forwards;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -moz-animation: flip_left 2s ease-out 0s forwards;
  -o-transform: rotateY(90deg);
  -o-transform-origin: 0% 50%;
  -o-animation: flip_left 2s ease-out 0s forwards;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  animation: flip_left 2s ease-out 0s forwards;
}

/* line 136, ../sass/lectures-animation.scss */
div.unanimated-speaker#archana-sharma {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: flip_left 0.66667s ease-out 2s forwards;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -moz-animation: flip_left 0.66667s ease-out 2s forwards;
  -o-transform: rotateY(90deg);
  -o-transform-origin: 0% 50%;
  -o-animation: flip_left 0.66667s ease-out 2s forwards;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  animation: flip_left 0.66667s ease-out 2s forwards;
}

/* line 139, ../sass/lectures-animation.scss */
div.unanimated-speaker#arogyaswami-paulraj {
  opacity: 0;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: flip_right 0.28571s ease-out 3.06667s forwards;
  -moz-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 50%;
  -moz-animation: flip_right 0.28571s ease-out 3.06667s forwards;
  -o-transform: rotateY(-90deg);
  -o-transform-origin: 100% 50%;
  -o-animation: flip_right 0.28571s ease-out 3.06667s forwards;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
  animation: flip_right 0.28571s ease-out 3.06667s forwards;
}

/* line 142, ../sass/lectures-animation.scss */
div.unanimated-speaker#ela-bhatt {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.4s ease-out 2.66667s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.4s ease-out 2.66667s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.4s ease-out 2.66667s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.4s ease-out 2.66667s forwards;
}

/* line 145, ../sass/lectures-animation.scss */
div.unanimated-speaker#gurtej-sindhu {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.22222s ease-out 3.35238s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.22222s ease-out 3.35238s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.22222s ease-out 3.35238s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.22222s ease-out 3.35238s forwards;
}

/* line 148, ../sass/lectures-animation.scss */
div.unanimated-speaker#partha-mitra {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: flip_left 0.18182s ease-out 3.5746s forwards;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -moz-animation: flip_left 0.18182s ease-out 3.5746s forwards;
  -o-transform: rotateY(90deg);
  -o-transform-origin: 0% 50%;
  -o-animation: flip_left 0.18182s ease-out 3.5746s forwards;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  animation: flip_left 0.18182s ease-out 3.5746s forwards;
}

/* line 151, ../sass/lectures-animation.scss */
div.unanimated-speaker#pawan-sinha {
  opacity: 0;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: flip_right 0.13333s ease-out 3.91027s forwards;
  -moz-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 50%;
  -moz-animation: flip_right 0.13333s ease-out 3.91027s forwards;
  -o-transform: rotateY(-90deg);
  -o-transform-origin: 100% 50%;
  -o-animation: flip_right 0.13333s ease-out 3.91027s forwards;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
  animation: flip_right 0.13333s ease-out 3.91027s forwards;
}

/* line 154, ../sass/lectures-animation.scss */
div.unanimated-speaker#rajeeva-karandikar {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.15385s ease-out 3.75642s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.15385s ease-out 3.75642s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.15385s ease-out 3.75642s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.15385s ease-out 3.75642s forwards;
}

/* line 157, ../sass/lectures-animation.scss */
div.unanimated-speaker#ravi-venkatesan {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.11765s ease-out 4.0436s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.11765s ease-out 4.0436s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.11765s ease-out 4.0436s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.11765s ease-out 4.0436s forwards;
}

/* line 160, ../sass/lectures-animation.scss */
div.unanimated-speaker#stephen-wolfram {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: flip_left 0.10526s ease-out 4.16125s forwards;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -moz-animation: flip_left 0.10526s ease-out 4.16125s forwards;
  -o-transform: rotateY(90deg);
  -o-transform-origin: 0% 50%;
  -o-animation: flip_left 0.10526s ease-out 4.16125s forwards;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  animation: flip_left 0.10526s ease-out 4.16125s forwards;
}

/* line 163, ../sass/lectures-animation.scss */
div.unanimated-speaker#sunil-kumar {
  opacity: 0;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -webkit-animation: flip_right 0.08696s ease-out 4.36175s forwards;
  -moz-transform: rotateY(-90deg);
  -moz-transform-origin: 100% 50%;
  -moz-animation: flip_right 0.08696s ease-out 4.36175s forwards;
  -o-transform: rotateY(-90deg);
  -o-transform-origin: 100% 50%;
  -o-animation: flip_right 0.08696s ease-out 4.36175s forwards;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
  animation: flip_right 0.08696s ease-out 4.36175s forwards;
}

/* line 166, ../sass/lectures-animation.scss */
div.unanimated-speaker#vanitha-narayanan {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.09524s ease-out 4.26651s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.09524s ease-out 4.26651s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.09524s ease-out 4.26651s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.09524s ease-out 4.26651s forwards;
}

/* line 169, ../sass/lectures-animation.scss */
div.unanimated-speaker#vijay-govindrajan {
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flip_top 0.08s ease-out 4.44871s forwards;
  -moz-transform: rotateX(-90deg);
  -moz-transform-origin: 50% 0%;
  -moz-animation: flip_top 0.08s ease-out 4.44871s forwards;
  -o-transform: rotateX(-90deg);
  -o-transform-origin: 50% 0%;
  -o-animation: flip_top 0.08s ease-out 4.44871s forwards;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  animation: flip_top 0.08s ease-out 4.44871s forwards;
}

/* line 172, ../sass/lectures-animation.scss */
div.unanimated-speaker#vinita-bali {
  opacity: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: flip_left 0.07407s ease-out 4.52871s forwards;
  -moz-transform: rotateY(90deg);
  -moz-transform-origin: 0% 50%;
  -moz-animation: flip_left 0.07407s ease-out 4.52871s forwards;
  -o-transform: rotateY(90deg);
  -o-transform-origin: 0% 50%;
  -o-animation: flip_left 0.07407s ease-out 4.52871s forwards;
  transform: rotateY(90deg);
  transform-origin: 0% 50%;
  animation: flip_left 0.07407s ease-out 4.52871s forwards;
}

@-webkit-keyframes flip_bottom {
  from {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes flip_right {
  from {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
}
@-webkit-keyframes flip_left {
  from {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
}
@-webkit-keyframes flip_top {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
}
@-moz-keyframes flip_bottom {
  from {
    -moz-transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }
}
@-moz-keyframes flip_right {
  from {
    opacity: 0;
    -moz-transform: rotateY(-90deg);
  }
  to {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
}
@-moz-keyframes flip_left {
  from {
    opacity: 0;
    -moz-transform: rotateY(90deg);
  }
  to {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
}
@-moz-keyframes flip_top {
  from {
    opacity: 0;
    -moz-transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    -moz-transform: rotateX(0deg);
  }
}
@-o-keyframes flip_bottom {
  from {
    -o-transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    -o-transform: rotateX(0deg);
    opacity: 1;
  }
}
@-o-keyframes flip_right {
  from {
    opacity: 0;
    -o-transform: rotateY(-90deg);
  }
  to {
    opacity: 1;
    -o-transform: rotateY(0deg);
  }
}
@-o-keyframes flip_left {
  from {
    opacity: 0;
    -o-transform: rotateY(90deg);
  }
  to {
    opacity: 1;
    -o-transform: rotateY(0deg);
  }
}
@-o-keyframes flip_top {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
  }
}
@keyframes flip_bottom {
  from {
    transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flip_right {
  from {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes flip_left {
  from {
    opacity: 0;
    transform: rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes flip_top {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
