/* line 1, ../sass/lectures.scss */
body {
  background-color: #333;
  color: white;
}

@-webkit-keyframes rt {
  /* line 7, ../sass/lectures.scss */
  to {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
}

@-webkit-keyframes sc {
  /* line 13, ../sass/lectures.scss */
  to {
    -webkit-transform: scale(1, 1);
  }
}

/* line 17, ../sass/lectures.scss */
#demo16 {
  position: fixed;
}
/* line 22, ../sass/lectures.scss */
#demo16 img {
  height: inherit;
}
/* line 26, ../sass/lectures.scss */
#demo16 #r1 div:nth-child(3), #demo16 #r3 div:nth-child(3) {
  position: relative;
  z-index: 4;
  background-color: #333;
  -webkit-transform: scale(3, 1);
  -webkit-transform-origin: right center;
  -webkit-animation: animate_34 1.5s linear 1.5s forwards;
}
/* line 34, ../sass/lectures.scss */
#demo16 #r1 div:nth-child(4), #demo16 #r3 div:nth-child(4) {
  position: relative;
  z-index: 4;
  background-color: #555;
  -webkit-transform: scale(3, 1);
  -webkit-transform-origin: left center;
  -webkit-animation: animate_34 1.5s linear 1.5s forwards;
}
/* line 43, ../sass/lectures.scss */
#demo16 #r1 div:nth-child(1), #demo16 #r3 div:nth-child(1),
#demo16 #r1 div:nth-child(6),
#demo16 #r3 div:nth-child(6) {
  background-color: #831;
}
/* line 47, ../sass/lectures.scss */
#demo16 #r1 div:nth-child(2), #demo16 #r3 div:nth-child(2),
#demo16 #r1 div:nth-child(5),
#demo16 #r3 div:nth-child(5) {
  background-color: #331;
}
/* line 53, ../sass/lectures.scss */
#demo16 #r2 div:nth-child(1),
#demo16 #r2 div:nth-child(4) {
  background-color: #132;
}
/* line 56, ../sass/lectures.scss */
#demo16 #r2 div:nth-child(2) {
  position: relative;
  z-index: 5;
  background-color: #491;
  -webkit-transform-origin: right center;
  -webkit-transform: scale(2, 3);
  -webkit-animation: animate_23 1.5s linear 1s forwards;
}
/* line 64, ../sass/lectures.scss */
#demo16 #r2 div:nth-child(3) {
  position: relative;
  z-index: 5;
  background-color: #481;
  -webkit-transform-origin: left center;
  -webkit-transform: scale(2, 3);
  -webkit-animation: animate_23 1.5s linear 1s forwards;
}

@-webkit-keyframes animate_23 {
  /* line 78, ../sass/lectures.scss */
  0% {
    -webkit-transform: scale(2, 3);
  }

  /* line 81, ../sass/lectures.scss */
  33.33% {
    -webkit-transform: scale(2, 1);
  }

  /* line 84, ../sass/lectures.scss */
  66.67% {
    -webkit-transform: scale(2, 1);
  }

  /* line 87, ../sass/lectures.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes animate_34 {
  /* line 92, ../sass/lectures.scss */
  0% {
    -webkit-transform: scale(3, 1);
  }

  /* line 95, ../sass/lectures.scss */
  33.33% {
    -webkit-transform: scale(2, 1);
  }

  /* line 98, ../sass/lectures.scss */
  66.67% {
    -webkit-transform: scale(2, 1);
  }

  /* line 101, ../sass/lectures.scss */
  100% {
    -webkit-transform: scale(1, 1);
  }
}

/* line 105, ../sass/lectures.scss */
#overlay {
  position: relative;
  top: -685px;
  z-index: 10;
  color: red;
}
/* line 110, ../sass/lectures.scss */
#overlay .col-xs-2 {
  border: 1px solid black;
}
/* line 113, ../sass/lectures.scss */
#overlay .col-xs-4 {
  border: 1px solid black;
}
