  .left{
		  width:50%;
		  height:100%;
		  float:left;
	  }
 .right{
		  width:50%;
		  height:100%;
		  float:right;
	  }
 .grey{
	 	  background-image:url(../img/bg.png) ;
 }
 .grey p{
	 color:#FFF;
 }
 .white{
		  background-image:url(../img/bg_white.png);
 }
 .white p{
	 color:#333;
	 font-weight:500;
 }
 #menu a{
	 color:#FFF;
	 font-size:20px;
	 font-family: Arial, Helvetica, sans-serif;
	 font-weight:bold;
	 font-size: initial !important;
 }
 #menu a:hover{
	 color:#999;
	 background:none;
 }
 #menu li.active a{
	 background:none;
	 color:#FFF;
 }
.section h1{
	padding-top:40px;
	font-size:70px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.section p{
	padding-left:40px;
	padding-right:40px;
	font-size: initial !important;

}
.navbar-custom{
	background-color:none;
	color:#FFF;
	border-radius:0;
}