.msg {
    display:block;
    text-align: center;
}   

.hr {
    display: block;
    margin: 0 auto;
    height: 5px;
    width: 35%;
}  

.col-sm-push-i1 {
    left: 4%;   
}      
.col-sm-push-i5 {
/*    left: 37.500000005%;   */
    left: 39%;  
}      
.col-sm-push-i9 {
    left: 74.166666665%;  
}      
.col-sm-push-i3 {
    left: 21%;   
}
.col-sm-push-i2 {
    left: 12.5%;   
}

textarea {  
    width: 100%;  
    min-height: 100px;  
    font-family: 'Titillium Web', sans-serif;  
    font-size: 18px;  
    color: #444;  
    padding: 5px;
    word-wrap: break-word;
}  
  
.noscroll {  
    overflow: hidden;  
}  

.hiddendiv {  
    display: none;  
    white-space: pre-wrap;  
    width: 100%px;  
    min-height: 100px;  
    font-family: 'Titillium Web', sans-serif;  
    font-size: 18px;  
    padding: 5px;  
    word-wrap: break-word;  
}  

.common {
    width: 100%;
    min-height: 100px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.lbr {
    line-height: 3px;
}


#co-curricular_affairs,
#pr_spons_networking,
#events,
#sr {
  text-shadow: 0 0 10px rgba(255,255,255,1);    
}



.left-inner-addon {
    position: relative;
}
.left-inner-addon input,
.left-inner-addon textarea {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 10px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}




.merged {
    margin:10px;
}
.merged .input-group-addon {
    border-right: 0px;
    background-color: #FFFFFF;
}
.merged input {
    border-left: 0px;
    background-color: #FFFFFF;
}
.focusedInput {
    border-color: rgba(82,168,236,.8) ;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
         box-shadow: 0 0 8px rgba(82,168,236,.6);
}






















