/* line 1, ../sass/events.scss */
body {
  background: url("../images/new black.png");
  font-family: 'Titillium Web', sans-serif;
}

/* line 5, ../sass/events.scss */
#title {
  color: white;
  font-size: 5em;
}

/* line 9, ../sass/events.scss */
.container {
  font-size: 1.5em;
  color: white;
  text-align: justify;
  text-align: center;
}
/* line 14, ../sass/events.scss */
.container .row {
  margin-bottom: 2%;
}
/* line 16, ../sass/events.scss */
.container .row div {
  margin-top: 1%;
  margin-bottom: 1%;
}
