body{
margin:0;
padding:0;
color:white;
height:700px;
}

.background, .big_moon, .small_moon{
position: absolute;
}

.background{
width:120%;
height:1800px;
top: -10% !important;
left: -10% !important;
background:url(images/background.jpg) no-repeat 50% 100%;
background-size: cover;
z-index:-3;
}

.big_moon{
width:356px;
height:344px;
left:70%;
top:120%;
background:url(images/bigmoon.png);
/*margin-top:-172px;
margin-left:-178px;*/
z-index:-1;
}

.small_moon{
width:204px;
height:183px;
left:80%;
top:80%;
background:url(images/smallmoon.png);
/*margin-top:-91px;
margin-left:-102px;*/
z-index:-2;
}
