/* line 4, ../sass/mainPage.scss */
body {
  background-image: url("../images/new black.png");
}

/* line 8, ../sass/mainPage.scss */
#cubeBorder {
  stroke: #00425a;
  stroke-width: 2px;
  fill: #00425a;
}

/* line 13, ../sass/mainPage.scss */
#cubeDots {
  stroke: white;
  fill: white;
}

@-webkit-keyframes textAnimate {
  /* line 19, ../sass/mainPage.scss */
  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
    stroke-opacity: 1;
  }

  /* line 24, ../sass/mainPage.scss */
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

@-webkit-keyframes cubeAnimate {
  /* line 32, ../sass/mainPage.scss */
  10% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }

  /* line 36, ../sass/mainPage.scss */
  60% {
    stroke-dashoffset: 0;
  }

  /* line 39, ../sass/mainPage.scss */
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}

/* line 46, ../sass/mainPage.scss */
#watermark {
  opacity: 0;
  -webkit-animation: fadeIn 2s ease-in 5s forwards;
}

/* line 55, ../sass/mainPage.scss */
#mikeSVG,
#toolSVG,
#phoneSVG,
#rupeeSVG,
#planeSVG,
#groupSVG {
  opacity: 0;
}

/* line 59, ../sass/mainPage.scss */
#menu_popup {
  position: absolute;
  background-color: black;
  z-index: 400;
  height: 100%;
  width: 30%;
  top: 0%;
  left: -30%;
  opacity: 1;
}

/* line 71, ../sass/mainPage.scss */
.menu_options {
  color: white;
  font-family: "TakaoPGothic", "Century Schoolbook L", Verdana;
  font-size: 1.5em;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
  height: 5%;
  cursor: pointer;
}
/* line 83, ../sass/mainPage.scss */
.menu_options a {
  text-decoration: none;
  color: white;
}

/* line 89, ../sass/mainPage.scss */
.menu_options:hover a {
  color: black;
}

/* line 93, ../sass/mainPage.scss */
.header {
  color: white;
  font-family: "TakaoPGothic", "Century Schoolbook L", Verdana;
  font-size: 2em;
  width: 100%;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}

/* line 103, ../sass/mainPage.scss */
#menu_icon {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 399;
}

/* line 109, ../sass/mainPage.scss */
#menu_rhs {
  position: absolute;
  z-index: 401;
  height: 100%;
  width: 0%;
  top: 0%;
  right: -70%;
  opacity: 1;
}

/* line 119, ../sass/mainPage.scss */
#hexaMenu {
  opacity: 0;
  -webkit-animation: fadeIn 3s ease-in 5s forwards;
}

@-webkit-keyframes fadeIn {
  /* line 124, ../sass/mainPage.scss */
  to {
    opacity: 1;
  }
}

/* line 128, ../sass/mainPage.scss */
.cl-effect a {
  position: absolute;
  z-index: 3;
  color: white;
  font-weight: 100;
  padding: 1%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1%;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 2em;
  font-family: "TakaoPGothic", "Century Schoolbook L", Verdana;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 147, ../sass/mainPage.scss */
.cl-effect a::before,
.cl-effect a::after {
  position: absolute;
  z-index: 3;
  left: 0;
  width: 100%;
  background: #fff;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

/* line 159, ../sass/mainPage.scss */
.cl-effect a::before {
  top: 0;
  height: 2%;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 172, ../sass/mainPage.scss */
.cl-effect a::after {
  bottom: 0;
  height: 2%;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* line 194, ../sass/mainPage.scss */
.cl-effect a:hover::before,
.cl-effect a:focus::before,
.cl-effect a:hover::after,
.cl-effect a:focus::after {
  opacity: 0;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

@font-face {
  font-family: 'ecoicon';
  src: url("../fonts/ecoicons/ecoicon.svg#ecoicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 227, ../sass/mainPage.scss */
.menuB {
  opacity: 0;
  -webkit-animation: fadeIn 3s ease-in 5s forwards;
}

/* line 231, ../sass/mainPage.scss */
#menu_icon:before {
  font-family: 'ecoicon';
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

/* line 243, ../sass/mainPage.scss */
#menu_icon:before {
  content: "\e006";
}

/* line 246, ../sass/mainPage.scss */
#menu_icon:hover {
  color: #00425a;
}

/* line 250, ../sass/mainPage.scss */
#menu_icon:after {
  top: -8%;
  left: -8%;
  padding: 8%;
  z-index: -1;
  opacity: 0;
}

/* Effect 7b */
/* line 260, ../sass/mainPage.scss */
#menu_icon:after {
  box-shadow: 3px 3px white;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

/* line 271, ../sass/mainPage.scss */
#menu_icon:hover:after {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
