/* line 5, ../sass/resp.scss */
.cl-effect a {
  padding: 1%;
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 5, ../sass/resp.scss */
  .cl-effect a {
    padding: 1.1%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 5, ../sass/resp.scss */
  .cl-effect a {
    padding: 1.3%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 5, ../sass/resp.scss */
  .cl-effect a {
    padding: 1.5%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 5, ../sass/resp.scss */
  .cl-effect a {
    padding: 1.9%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 5, ../sass/resp.scss */
  .cl-effect a {
    padding: 2.5%;
  }
}

/* line 34, ../sass/resp.scss */
.cl-effect a {
  position: relative;
  display: inline-block;
  /*	margin: 15px 25px;   */
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1%;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.5em;
  font-family: Verdana;
  /*  
      @media all and (min-width: pem(1024)){
          float: none;
      }
  */
}
@media all and (max-width: 37.5em) {
  /* line 34, ../sass/resp.scss */
  .cl-effect a {
    width: auto;
    letter-spacing: 0.02%;
    font-size: 0.7em;
    font-weight: 100;
    left-margin: 70%;
    float: left;
  }
}
@media all and (max-height: 37.5em) {
  /* line 34, ../sass/resp.scss */
  .cl-effect a {
    width: auto;
    letter-spacing: 0.02%;
    font-size: 0.7em;
    font-weight: 100;
    top-margin: 0%;
    float: top;
  }
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 34, ../sass/resp.scss */
  .cl-effect a {
    float: none;
    width: auto;
    letter-spacing: 0.04%;
    font-weight: 100;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.3em;
    font-family: Verdana;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 34, ../sass/resp.scss */
  .cl-effect a {
    float: left;
    width: auto;
    margin: 2% 2.5%;
    letter-spacing: 0.0035%;
    font-weight: 80;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 1.05em;
    font-family: Verdana;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 34, ../sass/resp.scss */
  .cl-effect a {
    width: auto;
    letter-spacing: 0.02%;
    font-weight: 100;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 0.9em;
    font-family: Verdana;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 34, ../sass/resp.scss */
  .cl-effect a {
    float: left;
    width: auto;
    margin: 0% 0.5%;
    letter-spacing: 0.01%;
    font-weight: 30;
    text-shadow: 0 0 0% rgba(255, 255, 255, 0.3);
    font-size: 0.7em;
    font-family: Verdana;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 34, ../sass/resp.scss */
  .cl-effect a {
    width: auto;
    height: auto;
    margin: 0% 0.5%;
    letter-spacing: 0.002%;
    font-weight: 20;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 0.6em;
    font-family: Verdana;
  }
}

/*  ----------------increase size of menu--------- */
/* line 126, ../sass/resp.scss */
#menu_icon:before {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.7;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 126, ../sass/resp.scss */
  #menu_icon:before {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 126, ../sass/resp.scss */
  #menu_icon:before {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 126, ../sass/resp.scss */
  #menu_icon:before {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 126, ../sass/resp.scss */
  #menu_icon:before {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 126, ../sass/resp.scss */
  #menu_icon:before {
    -webkit-transform: scale(0.35);
    -moz-transform: scale(0.35);
    -ms-transform: scale(0.35);
    transform: scale(0.35);
  }
}

/* --------------------------------------------------- */
/* line 173, ../sass/resp.scss */
#menu_icon:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 173, ../sass/resp.scss */
  #menu_icon:hover:before {
    -webkit-transform: scale(0.875);
    -moz-transform: scale(0.875);
    -ms-transform: scale(0.875);
    transform: scale(0.875);
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 173, ../sass/resp.scss */
  #menu_icon:hover:before {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 173, ../sass/resp.scss */
  #menu_icon:hover:before {
    -webkit-transform: scale(0.625);
    -moz-transform: scale(0.625);
    -ms-transform: scale(0.625);
    transform: scale(0.625);
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 173, ../sass/resp.scss */
  #menu_icon:hover:before {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 173, ../sass/resp.scss */
  #menu_icon:hover:before {
    -webkit-transform: scale(0.4375);
    -moz-transform: scale(0.4375);
    -ms-transform: scale(0.4375);
    transform: scale(0.4375);
  }
}

/* line 217, ../sass/resp.scss */
#menu_icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 1.5% 3%;
  width: 90px;
  height: 95px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: white;
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 217, ../sass/resp.scss */
  #menu_icon {
    margin: 1% 2.5%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 217, ../sass/resp.scss */
  #menu_icon {
    margin: 0% 2%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 217, ../sass/resp.scss */
  #menu_icon {
    margin: 0% 1.5%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 217, ../sass/resp.scss */
  #menu_icon {
    margin: 0% 1%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 217, ../sass/resp.scss */
  #menu_icon {
    margin: -3% -3%;
  }
}

/* line 257, ../sass/resp.scss */
#menu_icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 257, ../sass/resp.scss */
  #menu_icon:after {
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 257, ../sass/resp.scss */
  #menu_icon:after {
    width: 75%;
    height: 75%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 257, ../sass/resp.scss */
  #menu_icon:after {
    width: 70%;
    height: 70%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 257, ../sass/resp.scss */
  #menu_icon:after {
    width: 70%;
    height: 70%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 257, ../sass/resp.scss */
  #menu_icon:after {
    width: 65%;
    height: 65%;
  }
}

/* line 301, ../sass/resp.scss */
.cl-effect a::before,
.cl-effect a::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4%;
  background: #fff;
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 301, ../sass/resp.scss */
  .cl-effect a::before,
  .cl-effect a::after {
    height: 3.75%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 301, ../sass/resp.scss */
  .cl-effect a::before,
  .cl-effect a::after {
    height: 3.5%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 301, ../sass/resp.scss */
  .cl-effect a::before,
  .cl-effect a::after {
    height: 2.75%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 301, ../sass/resp.scss */
  .cl-effect a::before,
  .cl-effect a::after {
    height: 2.5%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 301, ../sass/resp.scss */
  .cl-effect a::before,
  .cl-effect a::after {
    height: 2.25%;
  }
}

/* line 342, ../sass/resp.scss */
.menu_options {
  color: white;
  font-family: Verdana;
  font-size: 1.3em;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
  height: 5%;
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 342, ../sass/resp.scss */
  .menu_options {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 4.5%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 342, ../sass/resp.scss */
  .menu_options {
    font-size: 1em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    height: 4.2%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 342, ../sass/resp.scss */
  .menu_options {
    font-size: 0.8em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    height: 4%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 342, ../sass/resp.scss */
  .menu_options {
    font-size: 0.6em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    height: 3%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 342, ../sass/resp.scss */
  .menu_options {
    font-size: 0.5em;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    height: 3.5%;
  }
}

/* line 405, ../sass/resp.scss */
.header {
  color: white;
  font-family: Verdana;
  font-size: 2em;
  width: 100%;
  text-align: center;
  height: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 405, ../sass/resp.scss */
  .header {
    font-size: 1em;
    height: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 405, ../sass/resp.scss */
  .header {
    font-size: 0.8em;
    height: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
}

@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 449, ../sass/resp.scss */
  #shaa_cube {
    height: 30%;
    width: 30%;
    margin: 0.5% 0.3%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 449, ../sass/resp.scss */
  #shaa_cube {
    height: 23%;
    width: 30%;
    margin: 0.5% 0.3%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 449, ../sass/resp.scss */
  #shaa_cube {
    height: 27%;
    width: 30%;
    margin: 0.5% 0.3%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 449, ../sass/resp.scss */
  #shaa_cube {
    width: 30%;
    height: 30%;
    margin: 0.5% 0.3%;
  }
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 449, ../sass/resp.scss */
  #shaa_cube {
    width: 30%;
    height: 30%;
    margin: 0.5% 0.3%;
  }
}

/* line 483, ../sass/resp.scss */
#spons_img {
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 483, ../sass/resp.scss */
  #spons_img {
    height: 75%;
    width: 30%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 483, ../sass/resp.scss */
  #spons_img {
    height: 75%;
    width: 30%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 483, ../sass/resp.scss */
  #spons_img {
    height: 75%;
    width: 30%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 483, ../sass/resp.scss */
  #spons_img {
    height: 75%;
    width: 30%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 483, ../sass/resp.scss */
  #spons_img {
    height: 75%;
    width: 30%;
  }
}

/* line 516, ../sass/resp.scss */
#events_img {
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 516, ../sass/resp.scss */
  #events_img {
    height: 60%;
    width: 32%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 516, ../sass/resp.scss */
  #events_img {
    height: 60%;
    width: 32%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 516, ../sass/resp.scss */
  #events_img {
    height: 60%;
    width: 32%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 516, ../sass/resp.scss */
  #events_img {
    height: 60%;
    width: 32%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 516, ../sass/resp.scss */
  #events_img {
    height: 60%;
    width: 32%;
  }
}

/* line 549, ../sass/resp.scss */
#lectures_img {
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 549, ../sass/resp.scss */
  #lectures_img {
    height: 65%;
    width: 15%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 549, ../sass/resp.scss */
  #lectures_img {
    height: 65%;
    width: 15%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 549, ../sass/resp.scss */
  #lectures_img {
    height: 65%;
    width: 15%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 549, ../sass/resp.scss */
  #lectures_img {
    height: 65%;
    width: 15%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 549, ../sass/resp.scss */
  #lectures_img {
    height: 65%;
    width: 15%;
  }
}

/* line 582, ../sass/resp.scss */
#contacts_img {
  height: 65%;
  /* for 125   */
  /* for 150  */
  /* for 175   */
  /* for 250  */
  /* for 300  */
}
@media all and (min-width: 62.5em) and (max-width: 75em) {
  /* line 582, ../sass/resp.scss */
  #contacts_img {
    height: 65%;
    width: 20%;
  }
}
@media all and (min-width: 56.25em) and (max-width: 62.5em) {
  /* line 582, ../sass/resp.scss */
  #contacts_img {
    height: 65%;
    width: 20%;
  }
}
@media all and (min-width: 42.5em) and (max-width: 56.25em) {
  /* line 582, ../sass/resp.scss */
  #contacts_img {
    height: 65%;
    width: 20%;
  }
}
@media all and (min-width: 31.25em) and (max-width: 42.5em) {
  /* line 582, ../sass/resp.scss */
  #contacts_img {
    height: 65%;
    width: 20%;
  }
}
@media all and (min-width: 21.875em) and (max-width: 31.25em) {
  /* line 582, ../sass/resp.scss */
  #contacts_img {
    height: 65%;
    width: 20%;
  }
}
