body{
	background-color: #333;
	color: white;
}
@-webkit-keyframes rt{	
	to{
		opacity: 1;
		-webkit-transform: rotateY(0deg);
	}
}
@-webkit-keyframes sc{	
	to{
		-webkit-transform: scale(1,1);
	}
}
#ii{
	display: none;
	-webkit-perspective: 500px;	
}
#i3{
	-webkit-transform-origin: left bottom;
	-webkit-transform: rotateY(90deg);
	opacity: 0;
	-webkit-animation: rt 1s linear 2s forwards;
}
#i2{
	@extend #i3;
	-webkit-animation: rt 1s linear 1s forwards;
}
#i1{
	-webkit-transform-origin: left center;
	-webkit-transform: scale(0,0);
	-webkit-animation: sc 1s linear forwards;
}
$s: 2;
#all{
	-webkit-transform: scale($s,$s);
	-webkit-animation: sc 5s ease-in-out forwards;
}