/* 
	//
	//RESET
	//
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
  background-image: url("../img/background.jpg");
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 
	//
	//FONTFACE
	//
*/
@font-face {
  font-family: 'Dartangnon';
  src: url('../fonts/Dartangnon/darti.eot');
  src: url('../fonts/Dartangnon/darti.eot?#iefix') format('embedded-opentype'), url('../fonts/Dartangnon/darti.woff') format('woff'), url('../fonts/Dartangnon/darti.ttf') format('truetype'), url('../fonts/Dartangnon/darti.svg#darti') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicNext-Light';
  src: url('../fonts/TradeGothicNext/Light/light.eot');
  src: url('../fonts/TradeGothicNext/Light/light.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicNext/Light/light.woff') format('woff'), url('../fonts/TradeGothicNext/Light/light.ttf') format('truetype'), url('../fonts/TradeGothicNext/Light/light.svg#light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicNext-Cond';
  src: url('../fonts/TradeGothicNext/Condensed/condensed.eot');
  src: url('../fonts/TradeGothicNext/Condensed/condensed.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicNext/Condensed/condensed.woff') format('woff'), url('../fonts/TradeGothicNext/Condensed/condensed.ttf') format('truetype'), url('../fonts/TradeGothicNext/Condensed/condensed.svg#condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicNext';
  src: url('../fonts/TradeGothicNext/Regular/regular.eot');
  src: url('../fonts/TradeGothicNext/Regular/regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicNext/Regular/regular.woff') format('woff'), url('../fonts/TradeGothicNext/Regular/regular.ttf') format('truetype'), url('../fonts/TradeGothicNext/Regular/regular.svg#regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicNext-BoldCond';
  src: url('../fonts/TradeGothicNext/BoldCondensed/boldcondensed.eot');
  src: url('../fonts/TradeGothicNext/BoldCondensed/boldcondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicNext/BoldCondensed/boldcondensed.woff') format('woff'), url('../fonts/TradeGothicNext/BoldCondensed/boldcondensed.ttf') format('truetype'), url('../fonts/TradeGothicNext/BoldCondensed/boldcondensed.svg#boldcondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicNext-Bold';
  src: url('../fonts/TradeGothicNext/Bold/bold.eot');
  src: url('../fonts/TradeGothicNext/Bold/bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TradeGothicNext/Bold/bold.woff') format('woff'), url('../fonts/TradeGothicNext/Bold/bold.ttf') format('truetype'), url('../fonts/TradeGothicNext/Bold/bold.svg#bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChronicleDispCond-Roman';
  src: url('../fonts/Chronicle/chronicledispcondroman.eot');
  src: url('../fonts/Chronicle/chronicledispcondroman.eot?#iefix') format('embedded-opentype'), url('../fonts/Chronicle/chronicledispcondroman.woff') format('woff'), url('../fonts/Chronicle/chronicledispcondroman.ttf') format('truetype'), url('../fonts/Chronicle/chronicledispcondroman.svg#chronicledispcondroman') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 
    //
    //VAR
    //
*/
/* 
    //
    //GLOBAL
    //
*/
body {
  font-family: 'TradeGothicNext';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: url("../img/background.jpg") top left no-repeat;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .comments li:nth-child(2) {
  top: 300px;
  left: 1400px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .comments li:nth-child(3) {
  top: -15px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .comments li:nth-child(1) {
  top: 85px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .comments li:nth-child(2) {
  top: 80px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .comments li:nth-child(3) {
  top: 0px;
  left: 2340px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .comments li:nth-child(1) {
  top: 400px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide .comments li:nth-child(1) {
  top: 0px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide .comments li:nth-child(2) {
  top: 0px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .comments li:nth-child(2) {
  top: 330px;
  left: 2300px;
  background: url(../img/arrow-top-left.png) no-repeat 275px 72px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide .comments li:nth-child(1) {
  top: -20px;
  left: 1260px;
  background: url(../img/arrow-bottom-right.png) no-repeat 1px 53px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide .comments li:nth-child(2) {
  top: -18px;
  left: 2900px;
  background: url(../img/arrow-bottom-right.png) no-repeat 20px 58px, url(../img/arrow-bottom-left.png) no-repeat 250px 67px;
}
body.small-screen #works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .link {
  margin-top: 30px;
}
body.ie #works #works-folio .works-folios#works-folio-top .link-thumbnails .div-mini-thumbnails {
  margin-top: 0px;
}
body.ie #works #works-folio .works-folios#works-folio-bottom .link-thumbnails .div-mini-thumbnails {
  margin-top: -14px;
  position: absolute;
}
body.ie #works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails {
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
body.ie #works #works-folio .works-folios#works-folio-bottom .link-thumbnails .div-mini-thumbnails {
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
body.ie #about .part .scale .cube .face .content-relative .content-face {
  width: auto;
}

body.ie #about .part:hover .scale .cube .face .content-relative .content-face .content-face-border {
  background: none;
  color: #F3F3F3;
}
body.ie #about .part .scale .cube .face.front {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body.ie #about #about-first-part .right {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body.ie #about #about-second-part .back {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body.ie #about #about-third-part .left {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body.ie #about .part .scale .cube .face .content-relative .content-face .content-face-border {
  position: relative;
  top: 20px;
  left: 20px;
}
body.ie #about .part .scale .cube .face .content-relative .content-face .face-close {
  display: none;
}
body.ie #about #about-second-part .right {
  display: none;
}
body.ie #about #about-third-part .right {
  display: none;
}
body.ie #about #about-first-part .back {
  display: none;
}
body.ie #about #about-third-part .back {
  display: none;
}
body.ie #about #about-first-part .left {
  display: none;
}
body.ie #about #about-second-part .left {
  display: none;
}
body.ie #about .part .scale .cube .face .content-relative .content-face .content-face-padding {
  padding: 20% 10% 10% 10%;
}
body.ie #about .part .scale .cube .face .content-relative .content-face .content-face-padding img {
  width: 200px;
  margin-top: 20px;
}
body.ie #about .part .scale .cube .face .content-relative .content-face .link {
  margin-top: 20px;
}
body.ie #about .part .scale {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}
body.ie #about .part .scale .cube {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
/
/* 
    //
    //WORKS
    //
*/
.border-top-works {
  height: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background: url("../img/border-top-works.png") left top repeat-x;
}
#works ul {
  font-size: 0;
}
#works #works-folio {
  position: relative;
}
#works #works-folio .works-folios {
  width: 1024px;
  position: relative;
  top: 0px;
  left: 50%;
  z-index: 9000;
  margin-left: -512px;
}
#works #works-folio .works-folios#works-folio-top .thumbnails a {
  background-position: 0 185px;
  -webkit-transition: background-position 0.2s ease-out;
  -moz-transition: background-position 0.2s ease-out;
  -o-transition: background-position 0.2s ease-out;
  -ms-transition: background-position 0.2s ease-out;
  transition: background-position 0.2s ease-out;
}
#works #works-folio .works-folios#works-folio-top .thumbnails a:hover {
  background-position: 0 0;
}
#works #works-folio .works-folios#works-folio-bottom .thumbnails a {
  background-position: 0 -185px;
  -webkit-transition: background-position 0.2s ease-out;
  -moz-transition: background-position 0.2s ease-out;
  -o-transition: background-position 0.2s ease-out;
  -ms-transition: background-position 0.2s ease-out;
  transition: background-position 0.2s ease-out;
}
#works #works-folio .works-folios#works-folio-bottom .thumbnails a:hover {
  background-position: 0 0;
}
#works #works-folio .works-folios .link-thumbnails-perspective {
  width: 200px;
  height: 195px;
  position: relative;
  z-index: 5;
  display: inline-block;
  -webkit-perspective: 50000px;
  -moz-perspective: 50000px;
  -ms-perspective: 50000px;
  -o-perspective: 50000px;
  perspective: 50000px;
}
#works #works-folio .works-folios .link-thumbnails-perspective:nth-child(2) {
  margin: 0px 2px;
  z-index: 10;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide1"] .thumbnails {
  background: url("../img/folio/thumbnails/alerte-metro.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide1"] .thumbnails a {
  background: url("../img/folio/thumbnails/alerte-metro-a.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide2"] .thumbnails {
  background: url("../img/folio/thumbnails/video-club.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide2"] .thumbnails a {
  background: url("../img/folio/thumbnails/video-club-a.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide3"] .thumbnails {
  background: url("../img/folio/thumbnails/figure.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide3"] .thumbnails a {
  background: url("../img/folio/thumbnails/figure-a.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide4"] .thumbnails {
  background: url("../img/folio/thumbnails/beer.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide4"] .thumbnails a {
  background: url("../img/folio/thumbnails/beer-a.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide5"] .thumbnails {
  background: url("../img/folio/thumbnails/mtl.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide5"] .thumbnails a {
  background: url("../img/folio/thumbnails/mtl-a.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide6"] .thumbnails {
  background: url("../img/folio/thumbnails/apartments.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails[data-slide="slide6"] .thumbnails a {
  background: url("../img/folio/thumbnails/apartments-a.png") no-repeat;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails .thumbnails {
  width: 100%;
  height: 100%;
  display: block;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails .thumbnails:hover {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-filter: grayscale(0);
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-thumbnails .thumbnails a {
  width: 100%;
  height: 100%;
  display: block;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails {
  width: 100%;
  height: 36px;
  display: block;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails[data-slide="slide1"] {
  background-color: #2e9b94;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails[data-slide="slide2"] {
  background-color: #4ee9d2;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails[data-slide="slide3"] {
  background-color: #e83b3f;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails[data-slide="slide4"] {
  background-color: #fcd014;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails[data-slide="slide5"] {
  background-color: #ed193d;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails[data-slide="slide6"] {
  background-color: #9eb8d3;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 14px;
  font-family: 'TradeGothicNext';
  text-transform: uppercase;
  background-color: #1F1F1F;
  color: #1F1F1F;
  text-align: center;
  line-height: 36px;
}
#works #works-folio .works-folios .link-thumbnails-perspective .link-thumbnails .div-mini-thumbnails .mini-thumbnails a:hover {
  text-decoration: underline;
}
#works #works-folio .works-folios#works-folio-top .link-thumbnails .div-mini-thumbnails {
  margin-top: -15px;
}
#works #works-folio .works-folios#works-folio-bottom {
  margin-top: 17px;
}
#works #works-folio .works-folios#works-folio-bottom .link-thumbnails .div-thumbnails {
  margin-top: -15px;
}
#works #works-folio .works-folios#works-folio-bottom .link-thumbnails .div-mini-thumbnails {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}
#works #works-folio .works-folios#works-folio-bottom .link-thumbnails .div-mini-thumbnails .mini-thumbnails {
  position: absolute;
  bottom: 0px;
}
#works #works-folio #works-folio-slider {
  width: 100%;
  height: 0;
  position: relative;
  top: 0;
  left: 50%;
  overflow: hidden;
  z-index: 10000;
  margin-left: -512px;
  color: white;
}
#works #works-folio #works-folio-slider:hover {
  cursor: url(../img/grab.png), move;
}
#works #works-folio #works-folio-slider:active {
  cursor: url(../img/grabbing.png), move;
}
#works #works-folio #works-folio-slider #slider-close {
  width: 29px;
  height: 29px;
  position: absolute;
  display: none;
  z-index: 6000;
  padding: 10px;
  top: 20px;
  right: 100px;
  margin-left: -14px;
  background: url('../img/close.png') no-repeat center;
}
#works #works-folio #works-folio-slider #slider-close a {
  width: 100%;
  height: 100%;
  display: block;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding {
  height: 100%;
  overflow: hidden;
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 {
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide {
  background: url('../img/folio/slide1/alerte_metro_fond.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  box-shadow: inset 5px 2px 15px #1F1F1F;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .img1 {
  position: absolute;
  top: 180px;
  left: 280px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .img2 {
  position: absolute;
  bottom: 0px;
  left: 900px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .img3 {
  position: absolute;
  top: 0px;
  left: 1700px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .img4 {
  position: absolute;
  bottom: 0px;
  left: 2600px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .comments li:nth-child(1) {
  top: 100px;
  left: 1260px;
  background: url(../img/arrow-bottom-right.png) no-repeat 10px 65px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .comments li:nth-child(2) {
  top: 400px;
  left: 1500px;
  background: url(../img/arrow-top-left.png) no-repeat 250px 0px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide1 .img-slide .comments li:nth-child(3) {
  top: 90px;
  left: 2600px;
  background: url(../img/arrow-bottom-left.png) no-repeat 250px 70px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 {
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide {
  width: 3600px;
  background: url('../img/folio/slide2/vendredi_soir_fond.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  box-shadow: inset 5px 2px 15px #1F1F1F;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .img1 {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 280px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .img2 {
  position: absolute;
  top: auto;
  bottom: 40px;
  left: 990px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .img3 {
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 2250px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .img4 {
  position: absolute;
  top: auto;
  bottom: 75px;
  left: 2580px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .img5 {
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 3000px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .comments li:nth-child(1) {
  top: 150px;
  left: 460px;
  background: url(../img/arrow-bottom-right.png) no-repeat 20px 56px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .comments li:nth-child(2) {
  top: 180px;
  left: 1000px;
  background: url(../img/arrow-bottom-left.png) no-repeat 250px 70px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide2 .img-slide .comments li:nth-child(3) {
  top: 40px;
  left: 2500px;
  background: url(../img/arrow-bottom-left.png) no-repeat 232px 50px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 {
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide {
  width: 3450px;
  background: url('../img/folio/slide3/figure_fond.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  box-shadow: inset 5px 2px 15px #1F1F1F;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .img1 {
  position: absolute;
  top: 180px;
  left: 280px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .img2 {
  position: absolute;
  top: 0px;
  left: 1000px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .img3 {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 1830px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .img4 {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 2700px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .comments li:nth-child(1) {
  top: 420px;
  left: 1260px;
  background: url(../img/arrow-top-right.png) no-repeat 21px 19px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .comments li:nth-child(2) {
  top: 130px;
  left: 1600px;
  background: url(../img/arrow-bottom-left.png) no-repeat 201px 81px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide3 .img-slide .comments li:nth-child(3) {
  top: 120px;
  left: 3000px;
  background: url(../img/arrow-bottom-right.png) no-repeat 50px 67px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 {
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide {
  background: url('../img/folio/slide4/beer_vs_wine_fond.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  box-shadow: inset 5px 2px 15px #1F1F1F;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide .img1 {
  position: absolute;
  top: 180px;
  left: 280px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide .img2 {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 1120px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide .img3 {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 2760px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide .comments li:nth-child(1) {
  top: 100px;
  left: 1260px;
  background: url(../img/arrow-bottom-left.png) no-repeat 260px 68px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide4 .img-slide .comments li:nth-child(2) {
  top: 130px;
  left: 2600px;
  background: url(../img/arrow-bottom-left.png) no-repeat 260px 55px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 {
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide {
  background: url('../img/folio/slide5/tourisme_mtl_fond.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  box-shadow: inset 5px 2px 15px #1F1F1F;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .img1 {
  position: absolute;
  top: 180px;
  left: 280px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .img2 {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 870px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .img3 {
  position: absolute;
  top: auto;
  bottom: 50px;
  left: 1837px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .img4 {
  position: absolute;
  top: auto;
  bottom: 75px;
  left: 2580px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .img5 {
  position: absolute;
  top: auto;
  bottom: 17px;
  left: 2850px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .img6 {
  position: absolute;
  top: auto;
  bottom: 75px;
  left: 3200px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .comments li:nth-child(1) {
  top: 100px;
  left: 1560px;
  background: url(../img/arrow-bottom-right.png) no-repeat 20px 67px, url(../img/arrow-bottom-left.png) no-repeat 250px 67px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide5 .img-slide .comments li:nth-child(2) {
  top: 0px;
  left: 2900px;
  background: url(../img/arrow-bottom-left.png) no-repeat 264px 91px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 {
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide {
  background: url('../img/folio/slide6/apartments_fond.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  box-shadow: inset 5px 2px 15px #1F1F1F;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide .img1 {
  position: absolute;
  top: 50%;
  left: 230px;
  margin-top: -50px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide .img2 {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 1070px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide .img3 {
  position: absolute;
  top: 50%;
  bottom: 50px;
  left: 2337px;
  margin-top: -224px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide .comments li:nth-child(1) {
  top: 50px;
  left: 1260px;
  background: url(../img/arrow-bottom-right.png) no-repeat 7px 84px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding#slide6 .img-slide .comments li:nth-child(2) {
  top: 0px;
  left: 2800px;
  background: url(../img/arrow-bottom-right.png) no-repeat 20px 67px, url(../img/arrow-bottom-left.png) no-repeat 250px 67px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 245px;
  padding: 30px;
  display: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .title-slide h2 {
  text-transform: uppercase;
  font-family: 'TradeGothicNext-BoldCond';
  font-size: 22px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .title-slide span {
  font-size: 12px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .title-slide h3 {
  margin-top: 10px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .description-slide {
  font-size: 13px;
  line-height: 110%;
  margin-top: 40px;
  margin-bottom: 40px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide {
  height: 120px;
  position: relative;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide .circle0 {
  position: absolute;
  -webkit-animation: rotate 17s linear infinite;
  -moz-animation: rotate 17s linear infinite;
  -ms-animation: rotate 17s linear infinite;
  -o-animation: rotate 17s linear infinite;
  animation: rotate 17s linear infinite;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide .circle1 {
  position: absolute;
  -webkit-animation: rotate 15s linear infinite;
  -moz-animation: rotate 15s linear infinite;
  -o-animation: rotate 15s linear infinite;
  -ms-animation: rotate 15s linear infinite;
  animation: rotate 15s linear infinite;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide .circle2 {
  position: absolute;
  -webkit-animation: rotate 13s linear infinite;
  -moz-animation: rotate 13s linear infinite;
  -ms-animation: rotate 13s linear infinite;
  -o-animation: rotate 13s linear infinite;
  animation: rotate 13s linear infinite;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide .skills-slide-label {
  position: absolute;
  right: 0px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide .skills-slide-label span {
  display: block;
  margin: 11px 0;
  width: 90px;
  font-size: 11px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide .skills-slide-label-img {
  position: absolute;
  right: 85px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .skills-slide .skills-slide-label-img img {
  display: block;
  width: 55%;
  margin: 8px 0;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .link {
  margin-top: 50px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .link a {
  display: block;
  padding: 6px 30px 11px 30px;
  border: 1px solid white;
  text-align: center;
  font-size: 15px;
  font-variant: small-caps;
  text-transform: lowercase;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .link a:hover {
  background-color: white;
  color: black;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .content-folio-slide .link p {
  display: block;
  padding: 10px 30px;
  border: 1px solid gray;
  font-size: 14px;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  color: gray;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .img-slide {
  width: 3900px;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 5000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .img-slide img {
  display: block;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .img-slide .img {
  width: 100%;
  height: 100%;
  position: relative;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .img-slide .img li {
  display: inline-block;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .img-slide .comments {
  width: 100%;
  font-family: 'Dartangnon';
  font-size: 25px;
}
#works #works-folio #works-folio-slider .works-folio-slider-padding .img-slide .comments li {
  width: 250px;
  position: absolute;
  padding: 30px;
  text-align: center;
  opacity: 0.8;
}