AuthName "htaccess password prompt"
AuthType Basic
AuthUserFile "home/shaastra/public_html/2015/production/projects/main/php/pages/secure/.htpasswd"
<Files "event.edit.php">
Require valid-user
</Files>
