  .left{
		  width:50%;
		  height:100%;
		  float:left;
	  }
 .right{
		  width:50%;
		  height:100%;
		  float:right;
	  }
 .grey{
	 	  background-color:#303030;
 }
 .white{
		  background-color:#FFF;
 }